.credit-card-back {
  background: url("https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/5.jpeg");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.credit-card-back-logo-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.credit-card-back-logo {
  max-height: 100%;
  max-width: 100%;
}

.cvv-stripe {
  background-color: white;
  height: 50px;
  text-align: right;
  width: 95%;
}

.cvv-stripe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cvv-stripe-label {
  text-align: right;
  width: 100%;
}

.magnetic-stripe {
  background-color: black;
  height: 50px;
  width: 100%;
}