.credit-card-front {
  display: flex;
  flex-direction: column;
  height: 270px;
}

.credit-card-chip-brand-container {
  display: flex;
  justify-content: space-between;
}

.credit-card-name-and-expiration-container {
  align-items: center;
  display: flex;
}

.credit-card-name-container,
.credit-card-expiration-container {
  width: 50%;
}

.credit-card-number-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}


.credit-card-chip-brand-container,
.credit-card-name-and-expiration-container {
  height: 100px;
}

.credit-card-chip-container,
.credit-card-logo-container {
  width: 50%;
}

.credit-card-chip,
.credit-card-logo {
  max-height: 100%;
  max-width: 100%;
}