.credit-card {
  margin: 0 auto;
  max-width: 430px;
  position: relative; /* Used for positioning the content */
}

.credit-card * {
  box-sizing: border-box;
}

.credit-card-background-image {
  height: 100%;
  width: 100%;
}

.credit-card-background-image-container {
  height: 270px;
}

.credit-card-chip-container {
  left: 0;
  top: 0;
}

.credit-card-content-container {
  height: 270px; /* Same as bg img container above */
  max-width: 430px; /* Same as credit card above */
  top: 0;
}

.credit-card-logo-container {
  right: 0;
  top: 0;
}

.credit-card-number-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.credit-card-name-container {
  bottom: 0;
  left: 0;
}

.credit-card-expiration-container {
  bottom: 0;
  right: 0;
}

.credit-card-chip-container,
.credit-card-logo-container,
.credit-card-number-container,
.credit-card-name-container,
.credit-card-expiration-container {
  position: absolute;
}